* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #DDECEF;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

header img {
    width: 100%;
    display: block;
}

nav {
    background-color: #87AAAE;
}

a.menu {
    display: inline-block;
    width: 25%;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    color: #2E002E;
    font-weight: bold;
}
a.menu:hover {
    border-bottom: 8px solid #008080;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
}

article h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    margin: 0 10% 50px 10%;
}

img.first {
    float: left;
    width: 350px;
    padding: 10px;
    border-radius: 20%;
}